* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.container {
  margin: 30px 50px;
}

.form__wrapper {
  max-width: 236px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #000;
  padding: 5px 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

td {
  border: 2px solid #000;
}
