@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url("../styles/fonts/JosefinSans-Regular.ttf") format("ttf"),
    url("../styles/fonts/JosefinSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url("../styles/fonts/JosefinSans-Bold.ttf") format("ttf"),
    url("../styles/fonts/JosefinSans-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
