html {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
