.container {
  max-width: 800px;
  margin: 30px auto;
}

body {
  background-color: rgb(223, 234, 129);
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__list-btn {
    background-color: rgb(136, 171, 101);
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 10px;
    &:hover {
      background-color: rgb(108, 136, 79);
    }
  }
}

.card {
  background-color: rgb(136, 171, 101);
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
  &__loading {
    text-align: center;
    display: none;
  }
  &__header {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
}

.card__info {
  &-description {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
    &-span {
      font-weight: 400;
    }
  }
  &-price {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
    &-span {
      font-weight: 400;
    }
  }
  &-wrapper {
  }
  &-img {
    padding-left: 10px;
    background-color: #fff;
    padding: 10px;

    border-radius: 10px;
    img {
      width: auto;
      max-height: 250px;
    }
  }
  &-text {
    padding: 10px;
  }
}

@media (max-width: 771px) {
  .category__list-btn {
    font-size: 20px;
  }
}
@media (max-width: 670px) {
  .category__list-btn {
    font-size: 16px;
    font-weight: 400;
  }
  .card__header {
    font-size: 20px;
  }
}
