@font-face {
  font-family: "Inter", sans-serif;
  src: url("../style/fonts/Inter-Regular.ttf") format("ttf"),
    url("../style/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../style/fonts/Inter-Medium.ttf") format("ttf"),
    url("../style/fonts/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("../style/fonts/Inter-SemiBold.ttf") format("ttf"),
    url("../style/fonts/Inter-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
